h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    padding-top: 2%;
    align-items: left;
    display: flex;
    justify-content: center;
}

.caixa {
    background-color: rgb(124, 241, 222);
    border: 2px solid black;
    height: 300px;
    border-radius: 20px;
}

button {
    border-radius: 20px;
    padding: 5px;
}